
@import url('https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900');

body {
  font-family: Catamaran;
  font-weight: 100;
  font-size: 62.5%;
}

h1{
  font-weight: 700;
  font-size: 3em;
}

h2 {
  font-weight: 400;
  margin-left:5%;
}


img {
  width: 50px;
  height: 50px;
}

li {
  margin:10px;
  font-size: 2em;
  font-weight: 700;
  display: inline;
}

ul{
    margin-top: 35px;
    display: inline;
}

header {
  display: flex;
}



.box1 {
  margin-left: 5%;
  flex: 8;
  display: flex;
}

.box2 {
  flex: 1;
  display: flex;
  justify-content: center;
}
.box3 {
  margin-right: 10%;
  flex: 8;
  display: flex;
  justify-content: flex-end;
}

.box:first-child > span { margin-right: auto; }

.box:last-child  > span { margin-left: auto;  }
